{% set nodeid = node.id %}
<div class="goal-header">
{{ content.body }}
<a href="node/{{nodeid}}" class="use-ajax read-more" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">more</a>
</div>