.rest-wrapper {
	display: flex;
}

.view-rest-url-list .view-content {
	display: flex;
    flex-direction: column;
}

.user-rest,
.core-rest {
    max-width: 100%;
    overflow: hidden;
	font-size: 12px;
    word-break: break-all;
}

.card-body {
    overflow-y: scroll;
}

span#rest-total-wrapper {
    float: right;
}

.item-list ul li {
    margin: 0;
    padding: 1.2em 0.5em 0 0;
}

/* #user-rest-working,
#core-rest-working{
	display: none;
} */