.rest-wrapper {
	display: flex;
}

.view-rest-url-list .view-content {
	display: flex;
    flex-direction: column;
}

.user-rest,
.core-rest {
    max-width: 100%;
    overflow: hidden;
	font-size: 12px;
    word-break: break-all;
}

.card-body {
    overflow-y: scroll;
}

span#rest-total-wrapper {
    float: right;
}

.item-list ul li {
    border: 2px solid #ccc;
    padding: 0px !important;
    margin-bottom: 10px !important;
	border-radius: 5px;
}

/* #user-rest-working,
#core-rest-working{
	display: none;
} */