div#block-indicatorcard {
    position: fixed;
    left: 65px;
    display: none;
    min-width: 40em !important;
	max-width: 55em;
	width:30%;
    top: 170px;
    z-index: 5000;
    height: 75%;
    background: white;
}
div#block-indicatorcard .field--name-body.field--type-text-with-summary {
    position: relative;
}
li.disable-scope, li.disable-scope a {
    pointer-events: none;
    color: #ccc !important;
}
li.temp-disable-scope, li.temp-disable-scope a {
    pointer-events: none;
    color: #888 !important;
}
.indicator-make-points .form-control {
    width: 34px;
}
/* The container <div> - needed to position the dropdown content */
.indicator-actions {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: static;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	padding: 50px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  font-size: 12px;
}
.action-title {
    color: #73a58d;
    font-size: 16px;
	font-variant: small-caps;
    font-weight: bold;
}
.indicator-actions a:hover {background-color: #ddd;}

.showActions {
	display: flex;
	flex-direction: column;
}
button#indicator-actions-btn {
    margin: 15px;
    float: right;
    width: 200px;
    margin-right: 70px;
    background-color: #FF9800;
}
.indicator-image {
     min-height: 200px;
/*	top: 28px;
    position: relative; */
}
div#block-indicatorcard .node__content{
    display:  flex;
    flex-direction:  column;
    height:  100%;
	overflow: none;
	margin-top: 0px !important;
}

#indicator-chart{
	height:250px;
	width:100%;
}

div.indicator-help-wrapper{
	/* max-height:300px;
	overflow: auto; */
}
.edit-menu-trigger {
	display: none;
    position: fixed;
    top: 50%;
    z-index: 100;
    left: calc(20em + 80px);
    height: 40px;
    width: 40px;
    font-size: 27px;
}

.edit-menu-trigger.menu-tip:hover {
    left: calc(16.8em + 80px);
    height: 50px;
    width: 50px;
    font-size: 32px;
}
.indicator-edit-links-wrapper .views-field.views-field-edit-node{
	    margin-top: 0px; 
}
.indicator-edit-link {
	min-height: 40px;
	padding: 5px;
}
.popover .arrow {
    margin: 0 0rem;
}
.indicator-edit-links-wrapper {
    display: flex;
}
button.close,
div#fancy_login_close_button {
    width: 25px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    background: #90c14f;
    margin: 10px;
}
div.view-indicator-policies-and-targets div.view-content h3 {
    font-size: 12px;
	margin: 0px;
}
div.view-indicator-policies-and-targets .views-field.views-field-title-1 {
    font-size: 10px;
}
div.view-indicator-policies-and-targets .row{
	display: contents;
}

img.image-style-indicator-card {
    width:  100%;
}
#pa-card-tabs{
	border: none;
	display: flex;
	flex-direction: column;
	height: 100%;
}

#pa-card-tabs li.ui-tabs-tab {
    flex-basis: 25%;
}
li.indi-tab.indi-tab-help {
    flex-basis: 10% !important;
}


.indicator-title {
    position: absolute;
    top: 54px;
    z-index: 2;
    font-size: 20px;
	 width:  100%;
    padding: 15px;
    background: #0000005e;
    color: white;
}
div.field--type-entity-reference {
    padding: 0px;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 0;
    display: flex;
}
.indicator-breadcrumbs {
    max-height: 50px;
    z-index: 2;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
    padding: 6px 5px;
    background: #8fc04f;
}
div#block-indicatorcard .indicator-content-wrapper{
	overflow: hidden;
	position: relative;
}
div#block-indicatorcard .ui-tabs-panel{
	overflow-y: auto;
}
#block-indicatorcard > div,
.node.node--type-indicator {
    height: 100%;
	display:  flex;
	flex-direction: column;
}
.indicator-policies .views-element-container {
    color: #b3b3b3;
}
a.indicator-card-edit-link.edit-indicator {
    font-size: 35px;
    color: #89bd54;
    width: 70px;
    height: 70px;
    border: 2px solid;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    text-decoration: none;
	background: #fff;
}
img.indi-edit-icon {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background: #fff !important;
    border: 2px solid #8fc04f;
    height: 70px;
    width: 70px;
    display: -webkit-inline-box;
    line-height: 0px;
    border-radius: 50px;
}

.edit-indi-menu {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

input#edit-indi-toggle {position: absolute; display: none}

.indi-menu-btn {
  width: 70px;
  height: 70px;
  border-radius: 70px;
  position: absolute;
  overflow: visible;
  cursor: pointer;
}

.md-36 { font-size: 36px; color: #89bd54; }

.indi-menu-btn {
  background: #ECEFF1;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  -webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.indi-menu-btn:not(:first-child) {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: -2;
  
  -webkit-transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
  transition: all 0.6s cubic-bezier(.87,-.41,.19,1.44);
}

.indi-menu-btn:nth-child(2) {top:0px;-webkit-transition-delay: 0s;transition-delay: 0s}
.indi-menu-btn:nth-child(3) {top:0px;left:0px;-webkit-transition-delay: 0.1s;transition-delay: 0.1s}
.indi-menu-btn:nth-child(4) {left:0px;;-webkit-transition-delay: 0.2s;;transition-delay: 0.2s}
.indi-menu-btn:nth-child(5) {top:0px;left:0px;-webkit-transition-delay: 0.3s;transition-delay: 0.3s}
.indi-menu-btn:nth-child(6) {top:0px;-webkit-transition-delay: 0.4s;transition-delay: 0.4s}
.indi-menu-btn:nth-child(7) {top:0px;left:0px;-webkit-transition-delay: 0.5s;transition-delay: 0.5s}
.indi-menu-btn:nth-child(8) {left:0px;-webkit-transition-delay: 0.6s;transition-delay: 0.6s}
.indi-menu-btn:nth-child(9) {top:0px;left:0px;-webkit-transition-delay: 0.7s;transition-delay: 0.7s}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(2) {
  top:-150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(3) {
  top:-100px;left:100px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(4) {
  left:150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(5) {
  top :100px;left:100px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(6) {
  top:150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(7) {
  top:100px;left:-100px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(8) {
  left:-150px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn:nth-child(9) {
  top:-100px;left:-100px;opacity:1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.menuBtn, .closeBtn {
  position: absolute;
  transition: all 0.3s ease;
}

.closeBtn {
  transform: translateY(50px);
  opacity: 0;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn .menuBtn {
  transform: translateY(-50px);
  opacity: 0;
}

input#edit-indi-toggle:checked ~ #show-menu .indi-menu-btn .closeBtn {
  transform: translateY(0px);
  opacity: 1;
}

label#show-menu {
    margin-bottom: 24px;
}

div#custom-map-legend {
    display: flex;
    flex-direction: column-reverse;
}
div#ramps-diverging, div#ramps-sequential {
    display: flex;
}
.ramp {
    padding: 5px;
}
.ramp.selected {
    background-color: #89bd54;
}
div#card-controls {
    display: flex;
	justify-content: space-between;
}
div#class-method-wrapper {
    padding: 0 15px;
}
.ramp.selected.card-selected-color {
    display: block;
    transform-origin: top left;
    transform: rotate(-90deg) translate(-100%);
    margin-top: 0%;
    width: 22px;
    background-color: transparent;
}
div#color-selected-wrapper {
    cursor: pointer;
	flex-grow: 1;
}
div#active-color-selected {
    height: 30px;
}
div#color-swatch-wrapper {
    position: fixed;
    left: calc(55em + 65px);
    bottom: 10%;
    background: white;
    padding: 20px;
}