div#block-indicatorcard {
    position: fixed;
    left: 65px;
    display: none;
    min-width: 40em !important;
	max-width: 55em;
	width:30%;
    top: 21%;
    z-index: 5000;
    height: 75%;
    background: white;
}
li.disable-scope, li.disable-scope a {
    pointer-events: none;
    color: #ccc !important;
}
li.temp-disable-scope, li.temp-disable-scope a {
    pointer-events: none;
    color: #888 !important;
}
.indicator-make-points .form-control {
    width: 34px;
}
/* The container <div> - needed to position the dropdown content */
.indicator-actions {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: static;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	padding: 50px;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  font-size: 12px;
}
.action-title {
    color: #73a58d;
    font-size: 16px;
	font-variant: small-caps;
    font-weight: bold;
}
.indicator-actions a:hover {background-color: #ddd;}

.showActions {
	display: flex;
	flex-direction: column;
}
button#indicator-actions-btn {
    margin: 15px;
    float: right;
    width: 200px;
    margin-right: 70px;
    background-color: #FF9800;
}
.indicator-image {
     min-height: 200px;
/*	top: 28px;
    position: relative; */
}
div#block-indicatorcard .node__content{
    display:  flex;
    flex-direction:  column;
    height:  100%;
	overflow: none;
}

#indicator-chart{
	height:250px;
	width:100%;
}

div.indicator-help-wrapper{
	/* max-height:300px;
	overflow: auto; */
}
.indicator-edit-link {
    position: absolute;
    right: 0;
    padding: 10px;
    margin-top: -50px;
    z-index: 5;
}
button.close,
div#fancy_login_close_button {
    width: 25px;
    height: 25px;
    text-align: center;
    color: #ffffff;
    background: #90c14f;
    margin: 10px;
}
div.view-indicator-policies-and-targets div.view-content h3 {
    font-size: 12px;
	margin: 0px;
}
div.view-indicator-policies-and-targets .views-field.views-field-title-1 {
    font-size: 10px;
}
div.view-indicator-policies-and-targets .row{
	display: contents;
}

img.image-style-indicator-card {
    width:  100%;
}
#pa-card-tabs{
	border: none;
}

#pa-card-tabs li.ui-tabs-tab {
    flex-basis: 25%;
}
li.indi-tab.indi-tab-help {
    flex-basis: 10% !important;
}


.indicator-title {
    position: absolute;
    top: 54px;
    z-index: 2;
    font-size: 20px;
	 width:  100%;
    padding: 15px;
    background: #0000005e;
    color: white;
}
div.field--type-entity-reference {
    padding: 0px;
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 0;
    display: flex;
}
.indicator-breadcrumbs {
    /* position: absolute; */
    /* top: 0px; */
    z-index: 2;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
    /* width: 100%; */
    padding: 6px 5px;
    /* color: #666; */
    background: #8fc04f;
}
.indicator-content-wrapper{
	overflow: auto;
	    position: relative;
}
#block-indicatorcard > div,
.node.node--type-indicator {
    height: 100%;
	display:  flex;
	flex-direction: column;
	overflow:  hidden;
}
.indicator-policies .views-element-container {
    color: #b3b3b3;
}